div {
  margin: 50px auto auto;
  width: fit-content;
  background-color: var(--color-primary);
  border-radius: 24px;
  padding: 16px 24px;
}

p {
  margin: 0;
  text-align: center;
  font-size: 120px;
  color: white;
  line-height: 90%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
