.container {
  width: 350px;
  padding: 8px 0;
}

.titulo {
  display: flex;
  align-items: center;
  gap: 8px;
  color: red;
}

.icone2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
