:root {
  --color-primary: #113436;
  --color-primary-dark: #1d4ed8;
  --color-secondary: #facc15;

  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;

  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #dc2626;
}