:root {
  --color-primary: #113436;
  --color-on-primary: #ffffff;

  --color-yellow-project: #ee9719;
  --color-primary-dark: #1d4ed8;
  --color-secondary: #facc15;

  --color-background: #f8fafc;
  --color-surface: #ffffff;

  --color-text-primary: #0f172a;
  --color-text-secondary: #64748b;

  --color-success: #16a34a;
  --color-warning: #f59e0b;
  --color-error: #dc2626;


  --color-text-gray: #e4e3e3;





  // --color-deep-purple: #140c30;
  // --color-deep-navy: #14253e;
  // --color-dark-teal-blue: #153d4c;
  // --color-deep-teal: #15565b;
  // --color-medium-teal: #156f69;
  // --color-bright-teal: #168777;
  // --color-accent-teal: #16a085;

  // --color-floating-button-light: #ee9719;
  // --color-floating-button-dark: #bb7510;

  // // Tema claro
  // --color-primary: #15565b;

  // --color-primary-container: #153d4c;
  // --color-on-primary-container: #ffffff;

  // --color-secondary: #168777;
  // --color-on-secondary: #ffffff;

  // --color-secondary-container: #e0f7f2;
  // --color-on-secondary-container: #083b35;

  // --color-tertiary: #16a085;
  // --color-on-tertiary: #ffffff;

  // --color-background: #f7faf8;
  // --color-on-background: #111d1b;

  // --color-surface: #ffffff;
  // --color-on-surface: #111d1b;

  // --color-surface-variant: #dcebe7;
  // --color-on-surface-variant: #3f4f4b;

  // --color-outline: #6f7f7b;
  // --color-outline-variant: #c0d0cc;

  // --color-error: #ba1a1a;
  // --color-on-error: #ffffff;

}
