#content {
  margin: 24px auto auto;
  align-items: center;
  justify-items: center;
}

#adicionar {
  background-color: var(--color-yellow-project);
  padding: 16px 24px;
  border-radius: 8px;
  font-size: 18px;
  color: white;
}

.item-contador {
  display: block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
