#content {
    margin: auto;
    margin-top: 24px;
    align-items: center;
    justify-items: center;
}

#adicionar {
    background-color: var(--color-yellow-project);
    padding: 16px 24px;
    border-radius: 8px;
    font-size: 18px;
    color: white;
}