.botao {
  margin: 20px auto 0;
  width: 75px;
  height: 75px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(76, 130, 247);
  border-radius: 18px;
}

.botao.efeito:active {
  transform: scale(0.98);
  background-color: rgb(51, 102, 214);
  box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
}

.botao.principal {
  width: 150px;
  height: 150px;
}

.icone {
  color: white;
  font-size: 50px;
  width: 50px;
  height: 50px;
}
