@if (contador(); as contadorAtual) {
  <div id="conteudo">
    <div id="contador">
      <app-contador-display [contador]="contadorAtual" />

      @if (contadorAtual.mostrarLimites) {
        <div class="limites">
          <app-limite
            nome="Mínimo"
            [valor]="contadorAtual.valorMinimo ?? 'Indefinido'"
            [comBackground]="
              contadorAtual.valorMinimo !== null &&
              contadorAtual.valorAtual <= contadorAtual.valorMinimo
            "
          />
          
          <app-limite
            [nome]="'Meta'"
            [valor]="contadorAtual.meta ?? 'Indefinido'"
            [comBackground]="
              contadorAtual.meta !== null &&
              contadorAtual.valorAtual >= contadorAtual.meta
            "
          />

          <app-limite
            [nome]="'Maximo'"
            [valor]="contadorAtual.valorMaximo ?? 'Indefinido'"
            [comBackground]="
              contadorAtual.valorMaximo !== null &&
              contadorAtual.valorAtual >= contadorAtual.valorMaximo
            "
          />
        </div>
      }


      <app-botao-adicionar (clicou)="incrementar()" />

      <app-botao-subtrair (clicou)="decrementar()" />

      <div class="acoes">
        <mat-icon
          id="reset"
          (click)="abrirAlerta()"
        >refresh
        </mat-icon>

        <mat-icon
          id="editar"
          [routerLink]="['/contador', contadorAtual.id, 'editar']"
        >edit
        </mat-icon>
      </div>
    </div>

    <app-menu-opcoes id="menu"></app-menu-opcoes>

  </div>
}
