#reset {
  color: red;
  font-size: 40px;
  width: 40px;
  height: 40px;
}

#editar {
  color: blue;
  font-size: 40px;
  width: 40px;
  height: 40px;
}

.acoes {
  display: flex;
  margin: 24px auto auto;
  width: 500px;
  justify-content: space-between;
}

#conteudo {
  display: flex;
  flex-direction: row;
}

#menu {
  margin: auto 50px;
}
