.container {
  border: 1px solid var(--color-primary-container);
  width: fit-content;
  padding: 6px;
  border-radius: 8px;
  margin-top: 8px;
}

.com-background {
  background-color: salmon;
  border: 1px solid salmon;
  color: white;
}